[run]
branch = True
source = web3_multi_provider

omit =
    tests/*

[report]
fail_under = 80
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
